.organisation {
  &__wrapper {
    padding: 100px 0 110px;
    background-color: $topbgcolor;
  }
  &__content {

    justify-content: space-between;
    div {
      .organisation__btn {
        height: 56px;
        align-content: center;
        margin-top: 60px;
      }
      h1 {
        text-transform: uppercase;
        font-size: 59px;
        margin: 0;
        letter-spacing: 6px;
        word-spacing: -7px;
        line-height: 70px;
      }
      p {
        width: 75%;
        margin: 0;
        margin-top: 40px;
        padding: 0;
      }
      a  {
        @include btn(10px 0, 45%, 2px, 56px);
        @extend %button;
      }
    }
  }
  &__block1 {
    width: 45%;
  }
  &__block2 {
    box-shadow: $boxshadow;
    width: 45%;
    iframe {
      width: 100%;
      border: 0;
    }
  }
}