@media (max-width: $containerwidth) {
  .organisation {
    &__wrapper {
      .organisation {
        div {

        }
        &__content {
          flex-direction: column;
          padding-bottom: 50px;
        }
        &__block1 {
          width: 100%;
          text-align: center;
          margin-bottom: 40px;
          .organisation__title {
            font-size: 43px;
          }
          p {
            width: 100%;
          }
        }
        &__btn {
          width: 100%;
          justify-content: center;
        }
        &__block2 {
          height: 600px;
          width: 100%;
        }
      }
    }
  }
}


@media (max-width: $breakpointLg) {
  .organisation {
    &__wrapper {

        .organisation {
          &__content {
            flex-direction: column;
            padding-bottom: 50px;
          }
          &__block1 {
            width: 100%;
            text-align: center;
            margin-bottom: 40px;
            p {
              width: 100%;
            }
          }
          &__btn {
            width: 100%;
            justify-content: center;
          }
          &__block2 {
            height: 600px;
            width: 100%;
          }
        }
      }
    }
  }


@media (max-width: $breakpointMd) {
  .organisation {
    &__wrapper {
        .organisation {
          &__block2 {
            height: 400px;
          }
        }
      }
    }
  }


@media (max-width: 500px) {
  .organisation {
    &__wrapper {
      .container {
        max-width: 100%;
        .organisation {
          &__block1 {
            h1 {
              font-size: 30px;
              letter-spacing: normal;
            }
          }
          &__btn {
           a {
             font-size: 11px;
           }
          }
          &__block2 {
            height: 250px;
          }
        }
      }
    }
  }
}