@media (max-width: 1000px) {
  .footer {
    &__wrapper {
    .container {
      max-width: 950px;
    }
    }
  }
}

@media (max-width: 992px) {
  .footer {
    &__wrapper {
      .container {
        max-width: 950px;
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    &__wrapper {
      .container {
        max-width: 740px;
        .footer__text {
          padding-left: 10px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .footer {
    &__wrapper {
      .container {
        max-width: 100%;
        .footer__text {
          padding-left: 10px;
          font-size: 12px;
        }
      }
    }
  }
}