@media (max-width: $breakpointMd) {
  .footer {
    &__text {
      padding-left: 10px;
      font-size: 14px;
    }
  }
}

@media (max-width: $breakpointXs) {
  .footer {
    &__text {
      padding-left: 10px;
      font-size: 12px;
    }
  }
}