.products {
  &__wrapper {
    @extend %pt110px;
  }
  &__title {
    text-align: center;
    @extend %title;
  }
  &__text {
    @include titletext(center, 0 auto, 510px, 30px 0 0 0);
    &::after {
      @include redcross(0 auto, 55px 0 0 0);
    }
  }
  &__menu {
    padding: 80px 0 65px;
    ul {
      @extend %ul;
      li {
        padding: 0 30px;
        a {
          @include productsahover($dark);
          &:hover{
            @include productsahover($red);
            transition: .5s;
          }
        }
      }
    }
  }
  &__subitems {
    height: 600px;
    flex-wrap: wrap;
    div {
      &:first-child {
        padding-left: 0;
      }

      &:nth-child(4) {
        padding-right: 0;
      }

      &:nth-child(5) {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
  &__subitem {
    background-color: $mainyellow;
    @extend %wh100;
    &__wrapper {
      width: 25%;
      padding: 0 10px 20px;
    }
  }
}