@media (max-width: $containerwidth) {
  .products {
    &__subitems {
      height: 500px;
    }
  }
}

@media (max-width: $breakpointXLg) {
  .products {
    &__subitems {
      height: 475px;
    }
  }
}

@media (max-width: $breakpointLg) {
  .products {
    &__menu {
      ul {
        li {
          padding: 0 5px;
          a {
            font-size: 12px;
          }
        }
      }
    }
    &__subitems {
      height: 1200px;
      div {
        &:first-child {
          padding-left: 10px;
        }

        &:nth-child(4) {
          padding-right: 10px;
        }

        &:nth-child(5) {
          padding-left: 10px;
        }

        &:last-child {
          padding-right: 10px;
        }
      }
    }
    &__subitem {
      background-color: $mainyellow;
      @extend %wh100;
      &__wrapper {
        width: 50%;
        padding:10px;
      }
    }
  }
}

@media (max-width: $breakpointMd) {
  .products {
    &__subitems {
      height: 1000px;
    }
  }
}

@media (max-width: $breakpointSm) {
  .products {
    &__subitems {
      height: 900px;
    }
  }
}

@media (max-width: $breakpointXs) {
  .products {
    &__menu {
      padding: 40px 0 30px;
      ul {
        li {
          padding: 0 5px;
          a {
            font-size: 10px;
          }
        }
      }
    }
    &__subitems {
      height: 1200px;
      justify-content: center;
      div {
        &:first-child {
          padding-left: 75px;
        }

        &:nth-child(4) {
          padding-right: 75px;
        }

        &:nth-child(5) {
          padding-left: 75px;
        }

        &:last-child {
          padding-right: 75px;
        }
      }
    }
    &__subitem {
      background-color: $mainyellow;
      width: 100%;
      &__wrapper {
        width: 300px;
        padding:10px 75px;
      }
    }
  }
}