* {
    box-sizing: border-box;

  }
  
.container {
    max-width: $containerwidth;
    margin: 0 auto;
    padding: 0 15px;
}

@media(max-width: $containerwidth) {
    .container {
        max-width: $breakpointXLg;
    }
}
@media(max-width: $breakpointXLg) {
    .container {
        max-width: $breakpointLg;
    }
}
@media(max-width: $breakpointLg) {
    .container {
        max-width: $breakpointMd;
    }
}
@media(max-width: $breakpointMd) {
    .container {
        max-width: $breakpointSm;
    }
}
@media(max-width: $breakpointSm) {
    .container {
        max-width: $breakpointXs;
    }
}
@media(max-width: $breakpointXs) {
    .container {
        max-width: 100%;
    }
}


.wrapper {
    margin: 0;
}

.dflex {
    display: flex;
}

a {
    text-decoration: none;
}

body  {
    font-family: 'Open Sans', sans-serif;
}


label {
    display: block;
}