@mixin productsahover($color) {
  color: ($color);
  @extend %productsahover;
}

@mixin redcross($margin, $pdng) {
  margin: ($margin);
  padding: ($pdng);
  @extend %redcross;
}

@mixin titletext($ta, $m, $mw, $pdng) {
  text-align: $ta;
  margin: $m;
  max-width: $mw;
  padding: $pdng;
}

@mixin input($bgcolor, $width) {
  background-color: $bgcolor;
  width: $width;
  @extend %input;
}

@mixin btn($pdng, $wdth, $ltsp, $h) {
  padding: $pdng;
  width: $wdth;
  letter-spacing: $ltsp;
  height: $h;
  @extend %button;
  @extend %contentcenter;
}