@media (max-width: $breakpointXLg) {
  .newsletter {
  &__input__wrapper {
    height: 60px;
  }
  }
}

@media (max-width: $breakpointLg) {
  .newsletter {
    &__input__wrapper {
      height: 60px;
    }
    &__btn {
      height: auto;
    }
  }
}

@media (max-width: $breakpointMd) {
  .newsletter {
    &__item1 {
      flex-direction: column;
      align-items: center;
    }
    &__input__wrapper {
      height: 60px;
      padding: 0;
      margin-bottom: 20px;
      width: 75%;
    }
    &__btn {
      height: 60px;
      width: 30%;
    }
  }
}

@media (max-width: $breakpointXs) {
  .newsletter {
    &__title {
      font-size: 25px;
    }
    &__item1 {
      .newsletter__input__wrapper {
        width: 100%;
      }
      button {
        height: 60px;
        width: 100%;
      }
    }
  }
}