.newsletter {
    &__wrapper {
        background-color: $mainyellow;
        padding: 140px 0;
    }
    &__title {
        @extend %newsletterfont;
        font-size: 48px;
    }
    &__text {
        @extend %newsletterfont;
        padding: 35px 0 60px;
    }
    &__item1 {
        justify-content: center;
    }
    &__input {
        @include input($white, 43%)
    }
    &__btn {
        @include btn(10px 0, 18%, 0, 80px);
        @extend %button;
        margin-left: 22px;
    }
}
