.header__wrapper {
  background-color: $topbgcolor;
}

header {
  nav {
    padding-top: 30px;
    ul {
      @extend %ul;
      padding: 0;
      background-color: $dark;
      li {
        @extend %headerli;
        &:hover {
          @extend %headerli;
          display: flex;
          background-color: $red;
          transition: 1s;
        }
        a {
          color: $white;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 12px;
          letter-spacing: 1px;
        }
      }
    }
  }
}